@charset "UTF-8";

body {
    background-color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
h1 {
    margin-top: 50px;
    border-style: double;
    border-top: 50px;
    border-right: 150px;
    border-left: 50px;   
    text-align: center;
    color: rgb(250, 12, 12);
}
h2 {
    color: cadetblue;
}
p {
    color: rgb(0, 0, 0);
    text-align: justify;
}